@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body{
    font-family: helvetica, arial, sans-serif;	color:#000099;
    background-color:#ffffff;
}
/* h1{
    font-size: 4rem;
    font-weight:80;
    background-color:#faf8f800;
    text-align: center;
}  */
 h1, h2{
    font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
.highlight{
    color:#FF0000;
}
#footer {
    color: #0066CC;
    background-color: #CCCCCC;
    font-size: 10px;
    text-align: center;
}
/* h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
} */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
} 
nav li a:link{
    text-decoration:none;
    color:#000000;
}
nav li a:visited{
    text-decoration:none;
    color:#CCCCCC;
}
nav li a:hover{
    text-decoration:underline;
    color:#66CC00;
}
nav li a:active{
    text-decoration:underline;
    color:#CC6600;
}
.quals{
    border-collapse: collapse;
}
.quals th{
    border-bottom:3px solid #ccc;
    padding:5px;
}
.quals td{
    border-bottom:1px solid #ccc;
    padding:5px;
}